@import '../variables.scss';
.container{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    .main-app{
        width:100%;
        padding:2rem 0;
        .title{
            text-align:center;
            h1{
                font-size:42px;
                margin-bottom: 3rem;
                @media(max-width:$x-lg){
                    font-size:40px;
                }
                @media(max-width:$md){
                    font-size:38px;
                }
                @media(max-width:$sm){
                    font-size:36px;
                    margin-bottom:2rem;
                }
                @media(max-width:$xs){
                    font-size:34px;
                }
            }
        }
        .form-wrapper{
            width:100%;
            display:flex;  
            justify-content: flex-end;
            position:relative;
            
            form{
                display:flex;
                flex-wrap:wrap;
                max-width: 608px;
                .text-wrapper{
                    width:100%;
                    h2{
                        @media(max-width:$xs){
                            margin-bottom:0.5rem;
                        } 
                    }
                }                    
                .form-elements{
                    display:flex;
                    width:100%;
                    @media(max-width:$xs){
                        flex-wrap:wrap;
                        margin-bottom:1.5rem;
                    }
                    .input-error{
                        min-height: 60px;
                        color:red;
                        display:block;
                        @media(max-width:640px){
                            min-height:inherit;
                        }
                    }
                    input{
                        margin-bottom:0.5rem;
                        width:100%;
                    }
                    .input-wrapper{
                        align-items: flex-start;
                        max-width: 220px;
                        @media(max-width:$xs){
                            width:100%;
                            max-width:100%;
                        }
                        input{
                            @media(max-width:$xs){
                                margin-right:0;
                            }
                        }
                        &.btn{
                            @media(max-width:$xs){
                                display:flex;
                                max-width:inherit;
                                justify-content: flex-end;
                            }
                        }
                    }
                    button{
                        background-color: #E8E8E8;
                        font-size:16px;
                        height:38.4px;
                    }
                } 
                .mat-button[disabled]{
                    color:black;
                }
                .error-box{
                    width:100%;
                    display:flex;
                    justify-content: flex-end;
                    min-height:21px;
                    span{
                        text-align:right;
                        &.error{
                            color:red;
                        }
                    }
                }
            }
        }
    } 
}