<div class="container">
    <div class="main-app">
        <div class="title">
            <h1>{{title}}</h1>
        </div>
        <div class="form-wrapper">
            <input [(ngModel)]="newPlate.name" placeholder="Owner">
            <input [(ngModel)]="newPlate.plateNumber" placeholder="Car number plate">
            <button mat-button color="primary" (click)="createNew()">Create new record</button>
            <span class="message">{{message}}</span>
            <span class="error">{{error}}</span>
        </div>
        <app-plates-table class="plates-table"></app-plates-table>
    </div>  
</div>

