.mat-primary{
    margin-right:0.5rem;
}
.btn-save{
    background-color:white;
    color: #424242;
}
.btn-wrapper{
    display:flex;
    justify-content: flex-end;
}
.input-wrapper{
    display:block;
    margin-right: 0.5rem;
    label{
        padding-bottom:0.5rem;
        color:white;
        display:block;
    }
    input{
        font-size: 16px;
        padding: 0.5rem;
        border-radius:4px;
        &:focus{
            outline:none;
        }
    }
}
.mat-dialog-content{
    display: flex;
    flex-wrap: wrap;
}
.error-box{
    height:40px;
    display:block;
    padding-top:1.25rem;
    span{
        color:white;
    }
}